### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json Folder
.vscode/
#Cache Folder
.alcache/
#Symbols Folder
.alpackages/
#Snapshots Folder
.snapshots/
#Testing Output Folder
.output/
#Extension App-File
*.app
#Rapid Application Development File
rad.json
#Translation Base-File
*.g.xlf
#License-File
*.flf
#Test results File
TestResults.xml
# Python Virtual Environment
jupyter_env/
jupyter_venv/
.venv/
venv/
py_env/
# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
